<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendancesystemapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AttendanceSystemApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceSystemApp">
        <activity android:name=".activities.CourseDetailsActivity"></activity>
        <activity android:name=".activities.RegisterCourseActivity" />
        <activity android:name=".activities.AddCourseActivity" />
        <activity android:name=".activities.TeacherMainActivity" />
        <activity android:name=".activities.TeacherLoginActivity" />
        <activity android:name=".activities.StudentLoginActivity" />
        <activity android:name=".activities.StudentRegisterActivity" />
        <activity
            android:name=".activities.SplashScreen"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.StartingActivity"
                  android:label=""/>
        <activity
            android:name=".activities.StudentsMainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>